body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
 }
 
 .host-container{
     display: flex;
     flex-direction: row;
     width: 100%;
}

.host-first-child-left{
    display: flex;
    flex-direction: row;
    width: 30%;
}
.host-first-child-right{
    width: 70%;
}

.host-second-child{
    float: left;
    margin-left: 20%; 
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.right-child{
    text-align: right;
}

.banner{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.container-date-time-location{
    display: flex;
    flex-direction: row;
}

.date-time-location{
    font-size: 14px;

}

.holder-rsvp-button{
    width: 70%;
}

.center{
    margin: 0 auto;
}

.rsvp-button-width{
    width: 30%;
}

.width-50{
    width: 42%;
}
.width-20{
    width: 20%;
}

.avatar-event-host-container{
    display: flex;
    flex-direction: row
}

.event-host-by-container{
    margin-left: 2%;
    margin-top: 5% ;
    display: flex;
    flex-direction: column;
}

.event-title{
    margin-top: 20%;
    width: 100%;
}

.avatar-event-show{
    width: 15%;
    margin-top: 15%;
}

.hosted-by{
    font-size: 14px;
}

.add-button{
    /* position: absolute;
    left: 29%;
    margin-top: 1.5%;
    z-index: 2; */
    float: right;
}

.search-field-container{
    width: 25%;
}


.tracks-container{
    margin: 0 auto;
    height: 400px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    margin-top: 3% !important;
}

.pending-tracks-container{
    margin: 0 auto;
    /* height: 400px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.whole-track{
    width: 80%;
    margin-left: 15%;
}

.track{
    width: 85%;
}



.pending-tracks-margin{
    margin-top: 10% !important;

}